body{
    font-family: 'Oswald';
    /* text-align: center; */
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 120px;
}

header .header-content{
    position: relative;
}

header img{
    height: 500px;
}

header .title{
    font-family: 'Fredoka One';
    /* text-align: center; */
    font-size: 50px;
    color: #ecc812;
}

.main{
    width: 600px;
    margin: 200px auto 0 auto;
    height: 500px;
}

p{
    font-size: 20px;
}

/* button{
    position: relative;
    font-family: 'Oswald';
    font-size: 20px;
    display: flex;
    justify-content: center;
} */

.buttons .download-button{
    padding: 15px;
    border: 1px solid #ecc812;
    background-color: #ecc812;
    border-radius: 20px;
    font-size: 2em;
}

.buttons .download-button a{
    color: black;
    text-decoration: none;
}

main ul li {
    font-size: 20px;
}