@media (max-width: 425px) {

    .main{
        max-width: 300px;
        margin: 200px auto 0 auto;
        height: 100%;
    }

    main .screen{
        max-width: 250px;
    }

    .buttons{
        flex-direction: column;
        align-items: center;
    }

}

body{
    font-family: 'Oswald';
    /* text-align: center; */
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100px;
}

header a{
    text-decoration: none;
}

header .header-content{
    position: relative;
}

header img{
    height: 500px;
}

header .title{
    font-family: 'Fredoka One';
    /* text-align: center; */
    font-size: 50px;
    color: #ecc812;
}

.main{
    width: 600px;
    margin: 200px auto 0 auto;
    height: 100%;
}

.main .screen{
    width: 600px;
}

p{
    font-size: 20px;
}

/* button{
    position: relative;
    font-family: 'Oswald';
    font-size: 20px;
    display: flex;
    justify-content: center;
} */

.buttons{
    display: flex;
    justify-content: space-around;
}

.buttons .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
}

.buttons .row img{
    height: 120px;
    cursor: pointer;
}

.buttons .download-button{
    padding: 15px;
    border: 1px solid #ecc812;
    background-color: #ecc812;
    border-radius: 20px;
    font-size: 2em;
}

.buttons a{
    color: black;
    text-decoration: none;
}

main ul li {
    font-size: 20px;
}