.container{
    position: relative;
    width: 340px;
    margin: 50px auto;
    margin-top: 200px;
    height: auto;
    max-height: 520px;
    background-color: #f0f6fb;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
}